/*
::-moz-selection {
	background:rgba(0,0,0,0);
	}
::selection { 
	background:rgba(0,0,0,0);
	} 	
*/
	
body{ 
  	margin:0; 
 	padding:0; 
 	font-family: Roboto;
	color:#454545;
	}
*{margin:0; padding:0; 
}
img,a{ border:none; outline:none;}
a{ text-decoration:none;}
ul,li{ list-style:none;}
input, textarea, select{
	outline:none;
	}
h1{ font-size:52px;}
h2{ font-size:34px;}

p{ 
	font-family: Roboto;
	font-size: 16px;
	font-weight: 500;
	line-height: 23px;
	}

.alignleft{
	float:left;
	margin:0 10px 15px 0;
	}
.alignright{
	float:right;
	margin:0 0px 15px 10px;
	}
.aligncenter{
	display:block;
	margin:15px auto;
	}

.clear:after{
	display:block;
	clear:both;
	content:'';
	}
.spacer10{ height:10px;}
.spacer15{ height:15px;}
.spacer20{ height:20px;}
.spacer25{ height:25px;}
.spacer30{ height:30px;}     
.spacer40{ height:40px;}


.boxSizing{
	box-sizing:border-box;
	}
.wrapper{ 
	width:1150px;
	margin:0px auto;
	position:relative;
	}
.wrapper:after{
	clear:both;
	display: block; 
	content:'';
	}
/***************************
	Header css start
*****************************/
.stickyTestiBox {
    background: #38c4ff none repeat scroll 0 0;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.4);
    left: -420px;
    padding: 20px;
    position: fixed;
    top: 40%;
    transition: all 300ms ease 0s;
	width: 380px;
    z-index: 999;
	}
#testiCheck:checked + .stickyTestiBox {
    left:0 ;
	}
#testiCheck{
	display:none;
	}		
.testiBox p{
    color: #fff;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 400;
    line-height: 25px;
    padding: 0 0 15px 12px;
	}
.testiBox .openQuote {
    margin: 0 3px 0 -13px;
	}	
.stickyTestiBox > label {
     background: #38c4ff none repeat scroll 0 0;
    border-radius: 7px 7px 0 0;
    box-shadow: 2px -2px 4px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    color: #fff;
    font-family: Raleway;
    font-size: 23px;
    padding: 11px 25px;
    position: absolute;
    right: -110px;
    top: 61px;
    transform: rotate(90deg);
	cursor:pointer;
	}
.testiBox h5{
    color: #fff;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    padding: 0;
    text-align: right;
	}
.testiBox h6{
    color: #fff;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 500;
    line-height: 23px;
    padding: 0 0 12px;
    text-align: right;
	}











header{
	position:relative;
	}
#mkwebsite{
	cursor: pointer;
    font-family: raleway;
    font-size: 15px;
    padding: 0;
    position: fixed;
    right: 0;
    top: 20%;
    z-index: 999;
	}	
.headBar{
	left: 0;
    position: absolute;
    right: 0;
    top: 37px;
    width: 100%;
    z-index: 99;
	}
.headBar:after{
	content:'';
	clear:both;
	display:block;
	}
.logo{
	float:left;
	width:256px;
	transition: all 750ms ease 0s;
	cursor:pointer;
	}
.logo img{
	vertical-align:bottom;
	padding: 13px 0;
	transition: all 250ms ease 0s;
	}
.topBtns{
	float: right;
    margin: 27px 0 0;
	transition: all 250ms ease 0s;
	}	
.topBtns span{
	display: inline-block;
	}
.topBtns span a{
	color: #fff;
    display: block;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    line-height: 39px;
	transition:all 100ms ease 0s;
	}
.cntUs a{
	border: 1px solid #fff;
    padding: 0 16px;
	}
.cntUs:hover a{
	border-color:#009ed1;
	color:#009ed1;
	}
.login{
	background: #00bef1 url("../images/messageBy_loging_icon.png") no-repeat scroll 9px center;
    border: medium none !important;
    margin-left: 10px;
    padding: 10px 13px 10px 31px !important;
	}	
.login:hover{
	background-color:#009ed1;
	}
	
.fxd1 .logo {
    width: 200px;
	}
.fxd1 .logo img {
    padding: 12px 0;
	}
.fxd1 .topBtns {
    margin-top:23px;
	}

.mainMenu {
	left: 0;
    position: fixed;
    top: 0;
    width: 100%;
	z-index:999;
	}
#navToggle {
    display: none;
	}
	
/**********  Banner  *************/	
.banner{
	padding: 0px 0;
	height:600;
	overflow:hidden;
	}	
.banner img{
	/*height: auto;
    left: 50%;
    margin-left: -960px;
    position: relative;
    vertical-align: bottom;
    width: 1920px;*/
	}	
/*.logo img{
	padding:0px 0 0;
	}*/	
.bannerCaption{
	position:absolute;
	top:45%;
	left:0;
	right:0;
	
	}
.innerPgBn .captionBox {
    position: absolute;
    width: 100%;
    top: 267px;
    left: 0;
    right: 0;
}
.caption{
	width:590px;
	}	
.caption1{
	display:block;
	}

.innerPgBn .captionBox .caption h1{
	color:#fff;
	font-weight:300;
	font-family:'Raleway', sans-serif;
	font-size:55px;
	text-transform:uppercase;

	}	
	.innerPgBn .captionBox .caption p{
	color:#fff;
	font-weight:400;
	font-family: 'Roboto Slab', serif;
	font-size:15px;
	text-transform:uppercase;
	margin:30px 0;
	line-height: 28px;
	}
.innerPgBn .captionBox .caption ul {
	margin-top: 60px;
}
.innerPgBn .captionBox .caption ul li {
	display: inline-block;
	overflow: hidden;
	width: 36%;
}
.innerPgBn .captionBox .caption ul li h4 {
	margin-top: 13px;
	font-size: 20px;
	color: #fff;
	font-weight: 600;
}

.innerPgBn .captionBox .caption ul li .mail_sumbol {
	float: left;
	height: 50px;
	width: 50px;
	background: #fff;
	text-align: center;
	border-radius: 50%;
	margin-right: 26px;
}
.innerPgBn .captionBox .caption ul li .mail_sumbol i {
	color: #74ac00;
	font-size: 24px;
	text-align: center;
	margin-top: 10px;
}
.innerPgBn .captionBox .caption ul li:last-child .mail_sumbol i {
	font-size: 30px;
}
.innerPgBn .captionBox .caption ul li img{
		width:100%;}
	
.dropdown {
    
	}	
#drop1 {
    bottom: 24px;
	}	






.dropdown
{
	bottom: 40px;
    left: 50%;
    margin-left: -17px;
    position: absolute;
    z-index: 999;
	cursor:pointer;


/*animation:animated_div 5s 1;
-moz-animation:animated_div 5s 1;
-webkit-animation:animated_div 5s 1;
-o-animation:animated_div 5s 1;*/

/*
animation-name: animated_div;
animation-duration: 550ms;
animation-timing-function: linear;
animation-delay: 2s;
animation-iteration-count: infinite;
animation-direction: alternate;
animation-play-state: running;*/
/* Safari and Chrome: */
/*
-webkit-animation-name: animated_div;
-webkit-animation-duration: 550ms;
-webkit-animation-timing-function: linear;
-webkit-animation-delay: 2s;
-webkit-animation-iteration-count: infinite;
-webkit-animation-direction: alternate;
-webkit-animation-play-state: running;*/
} 
/*
}

@keyframes animated_div
{
0%   { padding-bottom:0px;}
25%  { padding-bottom:20px; }
50%   { padding-bottom:0px;}
100%  { padding-bottom:20px; }
}

@-webkit-keyframes animated_div
{
0%   { padding-bottom:0px;}
25%  { padding-bottom:20px; }
50%   { padding-bottom:0px;}
100%  { padding-bottom:20px; }
}

@-moz-keyframes animated_div
{
0%   { padding-bottom:0px;}
25%  { padding-bottom:20px; }
50%   { padding-bottom:0px;}
100%  { padding-bottom:20px; }
}

@-o-keyframes animated_div
{
0%   { padding-bottom:0px;}
25%  { padding-bottom:20px; }
50%   { padding-bottom:0px;}
100%  { padding-bottom:20px; }
}
*/





/************************
  PLANS Section part 
  ******************************/	
.content{ 
	background:#f8f8f8;
}
.content h3{
    color: #000000;
    font-family: open sans;
    font-size: 42px;
    font-weight: 200;
    padding: 0 0 70px;
    text-align: center;
	}
.content h3 span{
	font-weight: 700;
	color: #00bef1;
	}


/**************************
	Intro section css
*****************************/
.intro_sec{
	padding: 90px 0;
	}
.intro_sec h3{
	color: #424141;
    padding: 0 0 10px;
	font-family: 'Raleway', sans-serif;
    position: relative;
	font-size:40px;
	font-weight:800;
	}
	
.intro_sec h3 span {
    color: #808080;
    display: block;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
	}
.intro_sec p{
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;
    padding: 0 0 20px;
    text-align: center;
	color:#929292;
	}	
.intro_sec p strong {
    color: #646464;
	}	
.intro_sec p span {
    color: #0694c5;
    font-weight: 600;
    text-transform: uppercase;
	}	
.intro_sec h4{
    color: #000000;
    font-family: open sans;
    font-size: 21px;
    font-weight: 200;
    padding: 12px 0 8px;
    text-align: center;
    text-transform: uppercase;
	}
.intro_sec ul li {
	width: 30%;
	display: inline-block;
	overflow: hidden;
	padding: 12px;
	background: #fff;
	border-bottom: 1px solid #d2d2d2;
	border-right: 1px solid #d2d2d2;
	margin-right: 10px;
	vertical-align: top;
	height: 500px;
}

.intro_sec ul li .service_photo{
	background-position: center center !important;
	background-size: cover !important;
	background-repeat: no-repeat !important;
	height:238px;
	}
	.intro_sec ul li .service_details h6 {
	float: right;
	text-align: center;
	font-size: 27px;
	padding: 16px 10px;
	color: #000;
}
	.intro_sec ul li .service_details h5 {
	color: #74ac00;
	font-size: 22px;
	font-family: 'Montserrat', sans-serif;
	padding: 43px 0 10px 0;
	text-transform: uppercase;
}
	
	.intro_sec ul li .service_details p{
		color:#999999;
		font-size:14px;
		font-family: 'Montserrat', sans-serif;
		font-weight:400;
		text-align:left;
		
	}
	.intro_sec ul li .service_details{
	background:url(../images/bg.png);
	background-repeat: no-repeat;
	margin-top: -32px;
	background-position: top right;
}

   .intro_sec ul li .service_details a {
	background: #74ac00;
	display: block;
	padding: 10px;
	width: 30%;
	text-align: center;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size:13px;
}
/****************************
	Benifits section css start
*********************************************/	
.benifits_sec{
	background: #dfdfdf none repeat scroll 0 0;
    margin: 0;
    padding: 110px 0;
    position: relative;
    transition: all 200ms ease 0s;
	}
.benifits_sec:hover{
	background: #dcdcdc none repeat scroll 0 0;
	}	
.benifits_sec:before{
	/*background: #cccccc none repeat scroll 0 0;
    border-radius: 0;
    content: "";
    height: 10px;
    left: 0;
    position: absolute;
    top: -10px;
    transform: scale(0.95);
    width: 100%;
    z-index: 1;*/
	}	
.benifitImg {
    float: left;
    margin: 0 80px 0 0;
	}
.benifits_sec h4 {
    color: #424141;
    font-size: 40px;
    padding: 0 0 27px;
	text-align:center;
	font-family: Raleway;
	}
	
.benifits_sec .video {
	width: 50%;
	float: left;
	overflow: hidden;
	display: block;
	margin-right: 50px;
}

.benifits_sec .video_details{
	margin-top:10px;
	overflow:hidden;
	}
	

.benifits_sec .video_details p{	
	font-family: 'Montserrat', sans-serif;
	font-size:14px;
	font-weight:300;
	color:#5f5f5f;
	margin-bottom:40px;
	}
.benifits_sec li{
	 background: rgba(0, 0, 0, 0) url("../images/check_icon.png") no-repeat scroll 0 2px;
    color: #595959;
    display: table;
    font-family: Raleway;
    font-size: 19px;
    font-weight: 600;
    line-height: 26px;
    margin-bottom: 20px;
    padding: 0 0 0 40px;
    vertical-align: top;
	}


#inline1{
	display:none;
	}
#inline1.benifits{
	background: #fff none repeat scroll 0 0;
	}
#inline1.benifits:before{
	}
.fancybox-outer, .fancybox-inner {
    border-radius: 0px !important;
	}
.fancybox-opened .fancybox-skin {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
	}
.fancybox-type-inline .fancybox-skin {
    background: rgba(0,0,0,0) !important;
	}
#inline1 li {
    font-size: 15px;
    margin-bottom: 5px;
    overflow: visible;
    white-space: unset;
	}
#inline1 h4 {
    font-size: 28px;
    padding: 4px 0 20px;
	}
.fancybox-opened .fancybox-skin {
    padding: 0 !important;
	}








/********************************
	offer_sec Section css start
************************************/
.offer_sec{
	background: rgba(0, 0, 0, 0) url("../images/bg_1.jpg") repeat fixed 0 0;
    padding: 60px 0;
	}
.offer_sec h3 {
    color: #613700;
    padding: 0 0 17px;
	font-size:40px;
	border-bottom:1px solid #613700;
	position:relative;
	}
	
	.offer_sec h3 {
    color: #613700;
    padding: 0 0 17px;
	font-size:40px;
	border-bottom:1px solid #613700;
	position:relative;
	width:55%;
	margin-top: 30px;
	}
	.offer_sec h3::after {
    content: "";
    position: absolute;
    background: #613700;
    left: 0;
    height: 3px;
    width: 250px;
    bottom: -2px;
}

.offer_sec p{
	font-family: 'Montserrat', sans-serif;
	color:#262626;
	font-size:14px;
	width:55%;
	text-align:left;
	font-weight:400;
	padding:15px 0;}


.offer_sec p:nth-child(2){
	padding-top:30px !important;
	}


.checkBox{}
.checkBox li{
	float:left;
	margin:0 0 0 0;
	width:33%;
	display:inline-block;
	vertical-align:top;
	}
.checkBox label{
	}
.clntWebsiteInfo h6{
	color: #000000;
    font-family: open sans;
    font-size: 20px;
    font-weight: 200;
    padding: 8px 0 9px;
	}	
.checkBox input[type="checkbox"] {
    float: left;
    margin: 3px 8px 0 0;
    vertical-align: top;
	}
#othrServLink > label {
    color: #0694c5;
	cursor:pointer;
	}




.plans_sec {
	padding: 84px 0;
	background: url(../images/window_wave_plans_bg.jpg) repeat  fixed center top;
	background-size:100% auto;
	}
.plans_sec h3{
    color: #fff;
	}
.plans_lists {
	display:block;
	}
.plans_lists li{
	background: #ff2770 none repeat scroll 0 0;
    border-radius: 0;
    float: left;
    padding: 30px 0;
    position: relative;
    width: 31.2%;
	display:inline-block;
	vertical-align:top;
	margin:0 3% 0 0;
	z-index:1;
	}
.plans_lists li:nth-child(3n), .plans_lists li:last-child{
	margin-right:0;
	}
.plans_lists .red {
    background: #ff2770 none repeat scroll 0 0;
	}	
.plans_lists li::before {
    background: rgba(255, 39, 112, 0.5) none repeat scroll 0 0;
    border-radius: 0;
    content: "";
    height: 30px;
    left: 0;
    position: absolute;
    top: -10px;
    transform: scale(0.95);
    width: 100%;
    z-index: -1;
	}
.plans_lists li li::before {
	display:none;
	}
.plans_lists .red::before {
    background: rgba(255, 39, 112, 0.5) none repeat scroll 0 0;
	}
	
.pricing_title::before {
    background: #fff none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 5px;
	}	
.pricing_title{
	color: #fff;
    float: left;
    font-family: Raleway;
    font-size: 23px;
    font-weight: 400;
    letter-spacing: -0.03em;
    line-height: 36px;
    margin-bottom: 27px;
    padding-left: 30px;
    position: relative;
    width: 100%;
	text-transform:uppercase;
	}			
.pricing_price{
	background: rgba(0, 0, 0, 0.15) none repeat scroll 0 0;
    clear: both;
    color: #fff;
    font-size: 47px;
    font-weight: 100;
    letter-spacing: -0.03em;
    padding: 30px 30px 25px;
    text-align: center;
    width: 100%;
	box-sizing:border-box;
	}			
.starting{
	color: #ccc;
    font-size: 11px;
    letter-spacing: 0.12em;
    margin-bottom: 0;
    padding: 0;
    text-align: center;
	}			
.pricing_price span{
	color: #fff;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 0;
	}			
.plans_feature li{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    color: #fff;
    display: block;
    float: none;
    font-family: Open Sans;
    font-size: 15px;
    font-weight: 600;
    margin: 0;
    padding: 10px 20px;
    text-align: center;
    width: auto;
	}	
.touchpoints_sec li:nth-child(3n) {
    margin-right: 0;
	}
.priceBtn{}		
.priceBtn a{
    background: #ccc none repeat scroll 0 0;
	border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    cursor: pointer;
	color:#000;
    display: table;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    outline: medium none;
    overflow: hidden;
    padding: 8px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1) 0s, background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    vertical-align: middle;
    will-change: box-shadow, transform;
	margin: 28px auto 0;
	}
.priceBtn a:hover{
	background:#fff;
	}
.plans_lists .purple {
    background: #9c27b0 none repeat scroll 0 0;
	}
.plans_lists .purple::before {
    background: rgba(156, 39, 176, 0.5) none repeat scroll 0 0;
	}
.plans_lists .blue {
    background: #3f51b5 none repeat scroll 0 0;
	}	
.plans_lists .blue::before {
    background: rgba(63, 81, 181, 0.5) none repeat scroll 0 0;
	}	
	
	
	
	
	
	
	
	
	
	
	
	
/***********************************
	support Form section css start
*************************************/	
.overlay{
	background-color: rgba(0, 0, 0, 0.85);
	bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
	}
.supportForm_sec {
	background: url(../images/helpBn.jpg) no-repeat fixed center -220px #000;
	padding: 65px 0;
	position:relative;
	}
.supportForm_sec h3{
	color: #fff;
    padding-bottom: 60px;
    text-align: left;
	}
.supportForm_sec h3 span{
	color: #bfbfbf;
    display: block;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
	}
.support_left{
    margin: 0px 0 0;
	display: inline-block;
    float: left;
	width: 45%;
	}	
.map{
    border: 10px solid rgba(1, 201, 255, 0.3);
	}
.map iframe {
    border: medium none;
    height: 240px;
    padding: 0;
    vertical-align: bottom;
    width: 100%;
	}	
.support_right{
	margin: 0px 0 0;
	display: inline-block;
    float: right;
	width: 45%;
	}
.support_right p{
    color: #cdcdcd;
    font-family: Open Sans;
    font-size: 15px;
    font-weight: 300;
    padding: 10px 20px;
    text-align: right;
	}
.support_right > form {
    padding-top: 50px;
	}	
.support_right li input[type="text"]{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #999;
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    box-sizing: border-box;
    color: #dfdfdf;
    display: block;
    font-family: open Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 62px;
    margin: 0 0 18px;
    padding: 0;
    width: 100%;
	}
.support_right li textarea{
    background:none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #999;
	box-sizing:border-box;
    color: #dfdfdf;
    display: block;
    font-family: open Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 27px;
    margin: 0 0 18px;
    padding: 0 ;
    width: 100%;
	height:80px;
	resize:vertical;
	}
.support_right li input[type="submit"]{
    background-color: #119ee6;
    border: none;
    border-radius: 20px;
    color: #fff;
    display: inline-block;
    font-family: open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 36px;
    margin-top: 25px;
    padding: 0 35px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
	}
.support_right li input[type="submit"]:hover{
    background-color: #303030;
	}







	
	
	
	
	
/****************************************
	clients_sec css start
**********************************************/	
.clients_sec{
	background: #8c8c8c none repeat scroll 0 0;
    padding: 80px 0 50px;
	}
.client_lists{
    text-align: center;
	}	
.client_lists li{
    background-color: #ecf0f1;
    border: 1px solid #dae0e7;
    box-sizing: border-box;
    display: inline-block;
    float: left;
    height: 180px;
    line-height: 178px;
    margin: 0 1% 2%;
    padding: 0 10px;
    text-align: center;
    width: 23%;
	}
.client_lists li img{
	display: inline-block;
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
	}	



/**************************************
	Client Form section css start
***************************************/	
.clientFormBox_sec{
	padding: 74px 0;
	background:url(../images/clientFormBox_sec.jpg) repeat fixed 0 0;
	}
.clientFormBox_sec h3 {
    color: #0694c5;
    padding: 0 0 6px;
	}	
.clientFormBox_sec h3 span{
	color: #808080;
    display: block;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
	}
.clntPersonalInfoBox{
	background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 15px;
    padding: 40px 40px 55px;
	position:relative;
	}	
.clntPersonalInfo{
	margin: 0 0 30px;
	}
.clntWebsiteInfo{}			
.clientFormBox_sec ul {
    padding: 0px 0 0;
	}	
.clientFormBox_sec li{
    display: block;
    margin: 0 0% 12px 0;
    padding: 0px;
	}
.clientFormBox_sec li:after{
	content:'';
	clear:both;
	display: block;
	}	
.clientFormBox_sec li input[type="text"] {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #b9b9b9;
    box-sizing: border-box;
    color: #000000;
    display: inline-block;
    float: left;
    font-family: open Sans;
    font-size: 14px;
    font-weight: 300;
    line-height: 35px;
    margin: 0 2% 0px 0;
    padding: 0 10px;
    vertical-align: top;
    width: 32%;
	transition: all 300ms ease 0s;
	}
.clientFormBox_sec li select{
    background: #fff none repeat scroll 0 0;
    border: 1px solid #b9b9b9;
    box-sizing: border-box;
    color: #505050;
    display: inline-block;
    float: left;
    font-family: open Sans;
    font-size: 14px;
    font-weight: 300;
    height: 38px;
    line-height: 35px;
    margin: 0 0 0 0;
    padding: 0 10px;
    transition: all 300ms ease 0s;
    vertical-align: top;
    width: 100%;
	}
	
.clientFormBox_sec li input[type="text"].lastField, .clientFormBox_sec li input[type="text"].last-child{
	margin-right:0;
	}
.clientFormBox_sec li textarea{
    background: #fff none repeat scroll 0 0;
    border: 1px solid #b9b9b9;
    box-sizing: border-box;
    color: #000000;
    display: block;
    font-family: open Sans;
    font-size: 14px;
    font-weight: 300;
    height: 51px;
    line-height: 20px;
    margin: 0 0 0 0;
    padding: 4px 10px;
    resize: vertical;
    vertical-align: top;
    width: 100%;
	transition: all 300ms ease 0s;
	}
.clientFormBox_sec li input[type="submit"] {
    background: #38c4ff none repeat scroll 0 0;
    border: medium none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: table;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 36px;
    margin: 40px auto 0;
    padding: 0 10px;
    text-transform: uppercase;
    transition: all 300ms ease 0s;
    vertical-align: top;
    width: 49%;
	}
.clientFormBox_sec li input[type="submit"]:hover{
    background: #0084bf none repeat scroll 0 0;
	}
.clientFormBox_sec li input[type="text"]:focus, .clientFormBox_sec li textarea:focus, .clientFormBox_sec li select:focus {
    box-shadow:0 0 3px rgba(0, 190,241,0.4);
	border-color:rgba(0, 190,241,1);
	}
.clntPersonalInfoBox h4 {
	color: #000000;
    font-family: open sans;
    font-size: 21px;
    font-weight: 200;
    padding: 0 0 7px;
	}
.clntPersonalInfoBox h4 span {
    font-size: 13px;
	}
.clntPersonalInfoBox h4 strong {
    color: #2094c5;
    font-size: 21px;
    font-weight: 500;
    padding: 0 9px 0 0;
    text-transform: uppercase;
	}

.attactments{
	padding: 29px 0 0 !important;
	}
.attactments h5{
	color: #000000;
    font-family: open sans;
    font-size: 20px;
    font-weight: 200;
    padding: 0 0 14px;
	}
.attactments h5 a{
	color: #2094c5;
	border-bottom:1px solid #2094c5;
	}
.attactments h5 a:hover{
	border-bottom:none;
	}		
.attactments li{
	background: rgba(0, 0, 0, 0) url("../images/check_box.png") no-repeat scroll 0 0;
    font-size: 17px;
    margin: 0 0 12px;
    padding: 0 0 0 26px;
	}
.attactments li:last-child{
	margin-bottom:00;
	}	
.attactments li span{
	font-size: 17px;
    font-weight: 600;
	}




.clientFormBox_sec h5{
	padding:20px 0;
	font-family: raleway;
	font-size:28px;
	font-weight:600;
	color:#74ac00;
	
	}


.clientFormBox_sec p{
	padding:10px 0;
	font-family: 'Montserrat', sans-serif;
	font-size:16px;
	font-weight:400;
	color:#505050;
	
	}







/**************************************
	feature section css start
***************************************/	
.feature_sec{
	padding:90px 0 0 0;
	background: #f3f3f3;
	}
	
	.feature_sec iframe {
    display: block;
}
.feature_sec h3{
    padding: 0 0 15px;
	}	
.feature_sec h3 span{
	color: #808080;
    display: block;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
	}
.feature_sec .wrapper > p {
    padding: 0 0 44px;
    text-align: center;
	}		
.feature_sec ul {
    padding: 0px 0 0;
	}	
.feature_sec li{
    border-radius: 110px 0 0 110px;
    box-sizing: border-box;
    display: inline-block;
    float: left;
    margin: 0 5% 40px 0;
    padding: 0;
    text-align: center;
    transition: all 200ms ease 0s;
    width: 30%;
	}
.feature_sec li:nth-child(3n) {
    margin-right: 0;
	}	
.feature_sec li:after{
	content:'';
	clear:both;
	display:block;
	}	
.feature_sec li:hover{
    /*background: #dedede none repeat scroll 0 0;*/
	}
.feature_sec li:nth-child(2n){
	/*border-radius: 0 110px 110px 0;
	margin-right:0;*/
	}	
.feature_thumb{
	margin: 0 0 17px;
	}
.feature_sec li:nth-child(2n) .feature_thumb{
	/*float:right;
	margin-right:0;
	margin-left:30px;*/
	}
.feature_thumb img{
	transition: all 200ms ease 0s;
    vertical-align: bottom;
	}
.feature_sec li:hover .feature_thumb img{
	opacity: 1;
	}
.feature_cnt{
	padding: 0;
	}
.feature_sec li:nth-child(2n) .feature_cnt{
	/*padding-right:0;
	padding-left:10px;	
	text-align:right;*/
	}
.feature_cnt h4{
    color: #0694c5;
    font-family: Open Sans;
    font-size: 23px;
    font-weight: 600;
    padding: 0 0 7px;
    text-transform: uppercase;
	}
.feature_cnt span {
    color: #595959;
    font-size: 20px;
    font-weight: 500;
	}	
.feature_cnt p{
    color: #000000;
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 200;
    line-height: 23px;
    padding: 8px 0;
	}
/*.stepsImg{
	box-sizing: border-box;
    display: inline-table;
    margin: 90px auto 0;
    padding: 0 20px;
    width: 40%;
	}	
.leftSide_steps{
    float: left;
    width: 30%;
	}
.rightSide_steps{
    float: right;
    width: 30%;
	}
.rightSide_steps li .feature_thumb {
    float: left;
    margin: 0 11px 0 0;
	}
.rightSide_steps li{
	text-align:left;
	}*/

	
.bankInfo{
	background: #003f62 url("../images/anz_bank_logo.jpg") no-repeat scroll 30px 12px;
    clear: both;
    padding: 15px 0 12px 240px;
	}
.bankInfo h4 {
    color: #fff;
    font-family: Open Sans;
    font-size: 21px;
    font-weight: 500;
    padding: 0 0 7px;
    text-transform: uppercase;
	}
.bankInfoDet span{
    color: #fff;
    display: inline-block;
    font-family: Open Sans;
    font-size: 17px;
    font-weight: 500;
    padding: 0 17px 7px 0;
	}





/******************
	Footer section
********************/
.footer_sec{
	background-color:#3a3a3a;
	overflow:hidden;
}

.footer_sec .footer_top .wrapper ul li {
	display: inline-block;
	width: 20%;
	vertical-align: top;
	margin-right:0;
}

.footer_top {
	padding: 45px 0;
}
.footer_sec .footer_top .wrapper ul li h4 {
	color: #fff;
	font-size: 24px;
	margin-bottom: 30px;
}
.footer_sec .footer_top .wrapper ul li:first-child {
	text-align: center;
	width: 25%;
	margin-right: 70px;
	vertical-align: top;
	overflow: hidden;
}
.footer_sec .footer_top .wrapper ul li:last-child  {
	display: inline-block;
	width:auto;
	vertical-align: top;
	margin-right: 0;
}
.footer_sec .footer_top .wrapper ul li:first-child .footer_logo {
	margin: 20px auto 0;
	width: auto;
}
.footer_sec .footer_top .wrapper ul li p {
	color: #fff;
	text-align:left;
	font-weight: 400;
	font-size: 15px;
}
.footer_sec .footer_top .wrapper ul li.contact_us {
	margin-right: 0;
	width: 25%;
}
.footer_sec .footer_top .wrapper ul li .buy {
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	margin-top: 24px;
	display: block;
}
.footer_sec .footer_top .wrapper ul li ul li {
	display: block;
	color: #fff;
	width: auto;
	margin-bottom: 15px;
	
}
.footer_sec .footer_top .wrapper ul li ul li:first-child {
	text-align: left;
	width: auto;
	margin-bottom: 20px;
	margin-right: 0;
	font-weight: 200;
	font-size: 14px;
}



.footer_sec .footer_top .wrapper ul li ul li .icon {
	float: left;
	overflow: hidden;
	margin-top: 6px;
}
.footer_sec .footer_top .wrapper ul li ul li .local_des {
	overflow: hidden;
}
.footer_sec .footer_top .wrapper ul li ul li img {
    float: left;
    margin-right: 15px;
}
.footer_sec .footer_top .wrapper ul li ul li a {
	color: #fff;
	font-weight: 300;
	font-size: 14px;
}
.footer_sec .footer_top .wrapper ul li .social_sec {
	margin-top: 50px;
}
.footer_sec .footer_top .wrapper ul li .social_sec li {
	display: inline-block;
	margin: 0;
}
.footer_sec .footer_top .wrapper ul li .social_sec li a img {
	margin-right: 6px;
}
.footer_sec .footer_bottom {
	background: #1c1c1c;
	
	bottom: 0;
	left: 0;
	padding: 15px;
	
	right: 0;
	opacity: 0.7;
}
.footer_sec .footer_bottom .wrapper p {
    color: #fff;
    float: left;
}
.footer_sec .footer_bottom .wrapper ul {
    float: right;
    margin-top: 4px;
}
.footer_sec .footer_bottom .wrapper ul li {
    float: left;
    border-right: 1px solid #fff;
    padding-right: 15px;
    margin-right: 15px;
}
.footer_sec .footer_bottom .wrapper ul li:last-child {
    border-right: none;
    padding-right: 0;
    margin-right: 0;
}
.footer_sec .footer_bottom .wrapper ul li a {
    color: #fff;
}

/****************************************
	portfolio section scc start
*******************************************/
.portfolio_sec{
 	padding: 120px 0 ;
	position:relative;
	background: url(../images/booking_bg.jpg);
	background-repeat:no-repeat;
	background-size: cover;
	height:350px;
	
}
.portfolio_sec h3 {
     color: #74ac00;
    font-size: 40px;
    padding: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
	font-weight:300;
}
	
.portfolio_sec h3 span{
	color: #808080;
    display: block;
    font-size: 17px;
    text-align: left;
    text-transform: uppercase;
	}
.portfolio_sec li{
	background-color: #f9f9f9;
    border: 1px solid #eaeaea;
    box-sizing: border-box;
    display: inline-block;
    margin: 0 2.3% 2.3% 0;
    padding: 3px;
    width: 23%;
	}
.portfolio_sec li:nth-child(4n) {
    margin-right: 0;
	}	
.prjct_thumb{
	/*height: 148px;*/
    overflow: hidden;
    position: relative;
	}
.prjct_thumb a{
	height:100%;
	display:block;
	}		
.prjct_thumb a:before{
	background: rgba(0, 0, 0, 0.6) url(../images/plus.png) no-repeat center center;
    bottom: 0;
    color: #fff;
    content: "";
    font-family: roboto;
    font-size: 50px;
    font-weight: 100;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    transform: scale(0);
    transition: all 400ms ease 0s;
    width: 100%;
    z-index: 99;
	}	
.portfolio_sec li:hover .prjct_thumb a:before{
	transform: scale(1);
	opacity:1;
	}
.portfolio_sec li img{
	height: auto;
    vertical-align: bottom;
    width: 100%;
	}
.titleBar::after {
    clear: both;
    content: "";
    display: block;
	}
.titleBar {
    padding: 0;
	}		
.morePortfolio{
	background: #38c4ff none repeat scroll 0 0;
    color: #fff;
    display: table;
    float: right;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 600;
    line-height: 36px;
    margin: 14px 0 0;
    padding: 0 30px;
    text-align: center;
    text-transform: uppercase;
    transition: all 300ms ease 0s;
    vertical-align: top;
	}
.morePortfolio:hover {
    background: #0084bf none repeat scroll 0 0;
	}

.conatctFrm_sec{
	padding:20px 0;
	}
.row{
	}
.row input {
	float: left;
	margin: 0 2.7% 30px 0;
	width: 48.3%;
}
.row input {
	float: left;
	margin: 0 3.7% 70px 0;
	width: 46.3%;
}	
.conatctFrm_sec input[type="text"]{
	background: linear-gradient(#646464, #646464) no-repeat scroll left bottom / 1px 6px, linear-gradient(#646464, #646464) repeat-x scroll center bottom / 1px 1px, rgba(0, 0, 0, 0) linear-gradient(#646464, #646464) no-repeat scroll right bottom / 1px 6px;
    border: medium none;
    box-sizing: border-box;
    color: #000;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    line-height: 49px;
    outline: medium none;
    padding: 0 18px;
	}
.conatctFrm_sec textarea{
	background: linear-gradient(#646464, #646464) no-repeat scroll left bottom / 1px 6px, linear-gradient(#646464, #646464) repeat-x scroll center bottom / 1px 1px, rgba(0, 0, 0, 0) linear-gradient(#646464, #646464) no-repeat scroll right bottom / 1px 6px;
    border: medium none;
    box-sizing: border-box;
    color: #000;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    height: 73px;
    line-height: 23px;
    outline: medium none;
    padding: 0 18px;
    resize: vertical;
    width: 100%;
	}
	
.conatctFrm_sec input[type="text"]:hover,
.conatctFrm_sec input[type="text"]:focus,
.conatctFrm_sec textarea:hover,
.conatctFrm_sec textarea:focus {
    background: bottom left linear-gradient(#0d7484, #0d7484) no-repeat, bottom center linear-gradient(#0d7484, #0d7484) repeat-x, bottom right linear-gradient(#0d7484, #0d7484) no-repeat;
    background-size: 1px 6px, 1px 1px, 1px 6px; 
	}	
.conatctFrm_sec input[type="submit"]{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 2px solid #74ac00;
    border-radius: 0;
    color: #959393;
    cursor: pointer;
    display: table;
    font-family: Montserrat;
    font-size: 17px;
    font-weight: 900;
    line-height: 45px;
    margin: 45px auto 0px;
    padding: 0 53px;
    text-transform: uppercase;
    transition: all 250ms ease 0s;
	}
.conatctFrm_sec input[type="submit"]:hover{
    background:#74ac00;
	color:#fff;
	}



/***********************************
	Success Stories section css start
*****************************************/
.get_in_touch_sec{
	}
.get_in_touchBar{
	background: #00bef1 none repeat scroll 0 0;
	}
.get_in_touchBar .wrapper {
    background: #00bef1 url("../images/messageBy_logo_BG_icon.png") no-repeat scroll 0 center;
	}
.get_in_touchBar h3{
	color: #303030;
    float: left;
    font-family: "MontserratExtraBold";
    font-size: 40px;
    margin: 49px 0 0;
    padding: 0 40px 0 0;
	}
.get_in_touchBar h3 span {
    color: #303030;
    font-family: "MontserratUltraLight";
    font-weight: 900;
	}	
.get_in_touchBar p{
    background: rgba(0, 0, 0, 0) url("../images/messageBy_seperator_line.png") no-repeat scroll 0 center;
    color: #fff;
    float: right;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    margin: 0;
    padding: 46px 0 46px 43px;
    width: 65%;
	}	
.get_in_touchBar p strong{
	font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
	}






/***********************************
	Success Stories section css start
*****************************************/
.get_in_touchForm{
	background: url(../images/messageBy_get_in_Touch.jpg) no-repeat center 0;
	padding: 115px 0;
	}
.get_in_touchForm h3{
	color: #fff;
    padding-bottom: 54px;
	}
.get_in_touchForm form{}
.get_in_touchForm form li::after {
    clear: both;
    content: "";
    display: block;
	}
.get_in_touchForm form li {
    margin: 0 0 25px;
	}
.get_in_touchForm li input[type="text"]{
	background: #fff none repeat scroll 0 0;
    border: medium none;
    box-sizing: border-box;
    color: #202020;
    float: left;
    font-family: Montserrat;
    font-size: 19px;
    font-weight: 500;
    line-height: 51px;
    margin: 0 2% 0 0;
    padding: 0 20px;
    width: 32%;
	}
.get_in_touchForm li input[type="text"]:last-child {
    margin-right: 0;
	}
.get_in_touchForm li textarea{
	background: #fff none repeat scroll 0 0;
    border: medium none;
    box-sizing: border-box;
    color: #202020;
    float: left;
    font-family: Montserrat;
    font-size: 19px;
    font-weight: 500;
    height: 97px;
    line-height: 27px;
    margin: 0 2% 0 0;
    padding: 10px 20px;
    resize: none;
    width: 76%;
	}
.get_in_touchForm input[type="submit"]{
	background: #00bef1 none repeat scroll 0 0;
    border: medium none;
    box-shadow: 0 0 0 10px rgba(0, 190, 241, 0.5);
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    float: right;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 500;
    line-height: 74px;
    margin: 10px 10px 0 0;
    padding: 0 20px;
    text-shadow: 2px 3px 0 rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    transition: all 100ms ease 0s;
    width: calc(22% - 20px);
	}
.get_in_touchForm input[type="submit"]:hover{
	background: #00aee1 none repeat scroll 0 0;
	}
	
.get_in_touchForm ul {
    padding: 0 0 0px;
	}



/************************
 Contact box section css 
*****************************/	
.cntBox_sec{
	padding:0px 0 0;
	}
.cntBox_sec h3{
	color: #fff;
    float: left;
    font-size: 33px;
    line-height: 62px;
    padding: 0;
    text-align: left;
    width: 30%;
	}
.cntBox{
	}
.cntBox span{
	box-sizing: border-box;
    color: #dfdfdf;
    display: block;
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 23px;
    padding: 0 0% 0 24px;
    vertical-align: top;
	}
.cntBox span a{
    color: #dfdfdf;
	}	
.loc{
	background:rgba(0, 0, 0, 0) url("../images/location_icon.png") no-repeat scroll 0 3px;
	}
.phone{
	background:rgba(0, 0, 0, 0) url("../images/call_icon.png") no-repeat scroll -3px 0;
	}
.mail{
	background: rgba(0, 0, 0, 0) url("../images/mail_icon.png") no-repeat scroll 0 4px;
	}
.skype{
	background: rgba(0, 0, 0, 0) url("../images/skype_icon.png") no-repeat scroll 0 4px;
	}
.abnNo{
	background: rgba(0, 0, 0, 0) url("../images/abn_icon.png") no-repeat scroll 0 1px;
	}









/************************
  footer part css 
*****************************/	
footer {
	}
.footerLinks {
    padding: 32px 0;
	background: #4e4e4e url(../images/pattren1.png) repeat 0 0; 
	}	
.footerLinks li {
    display: inline-block;
    float: left;
    vertical-align: top;
	}
.footerLinks h4 {
    color: #fff;
    font-family: Raleway;
    font-size: 25px;
    font-weight: 300;
    padding: 0 0 17px;
    text-transform: uppercase;
	}
.ftConatctBox {
    margin-right: 5%;
    width: 23%;
	}
.ftConatctBox img {
    padding: 0;
	}
.ftConatctBox span {
    color: #b1b1b1;
    display: block;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 200;
    line-height: 21px;
    padding: 0 0 15px 30px;
	}
.ftPhone {
    background: rgba(0, 0, 0, 0) url("../images/call_icon.png") no-repeat scroll 0 3px;
    padding: 0 0 12px 25px;
	}
.ftMail {
    background: rgba(0, 0, 0, 0) url("../images/mail_icon.png") no-repeat scroll 0 4px;
    padding: 0 0 12px 25px;
	}
.ftMail a, .ftPhone a {
    color: #b1b1b1;
	}
.ftLoc {
    background: rgba(0, 0, 0, 0) url("../images/location_icon.png") no-repeat scroll 0 5px;
    margin: 0px 0 0;
    padding: 0 0 11px 25px;
	}

.ftSocial {
    clear: both;
    margin: 23px 0 0;
	}
.ftSocial li {
    display: inline-block;
    float: left;
    margin-right: 14px;
    vertical-align: top;
	}
.ftSocial li img {
    opacity: 1;
    vertical-align: bottom;
	}
.ftSocial li:hover img {
    opacity: 0.7;
	}
	
	
.testimonials {
    padding-right: 0 !important;
    width: 29%;
	}
.testimonials li::after {
    clear: both;
    content: "";
    display: block;
	}
.testimonials li {
    margin-bottom: 16px !important;
	}
.testimonials p {
    color: #b1b1b1;
    display: inline-block;
    font-family: Open Sans;
    font-size: 13px;
    font-style: italic;
    font-weight: 300;
    line-height: 20px;
    padding: 0 0 4px;
	}
.testi_clinet {
    color: #999;
    float: right;
    font-family: Raleway;
    font-size: 15px;
    font-weight: 400;
	}
.openQuote {
    display: inline-block;
    float: left !important;
    font-family: Open Sans;
    font-size: 26px;
    margin: 0 4px 0 -13px;
	}
.closeQuote {
    display: inline-block;
    font-family: Open Sans;
    font-size: 26px;
    margin: 0;
    padding: 3px 0 0 10px;
    vertical-align: top;
	}
.testimonials ul {
    padding: 0 0 0 27px !important;
	}	
	
.ftaboutBox{
    float: right !important;
    margin-right: 0;
    width: 33%;
	}
.ftaboutBox img{
    padding: 0 0 14px;
	}	
.ftaboutBox p{
    color: #b1b1b1;
    display: block;
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 200;
    line-height: 23px;
    padding: 0 0 15px;
	}
.copyright{
	font-size: 12px !important;
    padding-top: 13px !important;
	}






















/*********************************
	About page css start
**********************************/
.innerPgBn {
     height: inherit;
    overflow: hidden;
	}
.innerPgBn img{
	left: 50%;
    margin-left: -1000px;
    position: relative;
    width: 2100px;
	display: block;
	}
.innerPg {
    padding: 55px 0;
	}	
.innerPg h3 {
    padding: 0 0 32px;
	}	
.aboutCnt p {
    color: #565656;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    padding: 0 0 27px;
	text-align:center
	}
.aboutGlry{
	margin:70px 0 0;
	}
.aboutGlry li{
	width:33.33%;
	float:left;
	display:inline-block;
	overflow:hidden;
	}
.aboutGlry li img{
	height:auto;
	vertical-align:bottom;
	transition:all 350ms ease 0s;
	transform:scale(1);
	}
.aboutGlry li:hover img{
	transform:scale(1.1);
	}





.aboutCnt h6{
    color: #161616;
    font-size: 21px;
    font-weight: 500;
    line-height: 25px;
    padding: 0 0 11px;
    text-align: center;
	}
.aboutCnt a{
    color: #00bef1;
	}
.textLists{
	padding: 0 0 30px;
	}
.textLists li{
	background: rgba(0, 0, 0, 0) url("../images/messageBy_check.png") no-repeat scroll 0 3px;
    color: #000000;
    display: table;
    font-size: 17px;
    font-weight: 400;
    line-height: 25px;
    margin: 0 auto 4px;
    padding: 0 0 0 30px;
    text-align: center;
	}

.designation{
	color: #161616;
    display: table;
    font-size: 18px;
    font-style: italic;
    font-weight: 500;
    line-height: 25px;
    margin: 0 auto;
    padding: 0 0 11px;
    text-align: center;
	}
.designation span{
	font-size: 16px;
    font-style: normal;
    font-weight: 400;
	}


.linkedin_Link{
	color: #00bef1;
    display: table;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    margin: 0 auto;
    padding: 0 0 11px;
    text-align: center;
	}




.innerPgHd .logo img {
    padding-top: 160px;
	}
.innerPgHd.fxd1 .logo img {
    padding-top: 8px;
	}



#portfolios {
    background: #fff none repeat scroll 0 0;
    padding: 38px 60px;
    width: 700px;
	display:none;
	}
#portfolios li{
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    display: block;
    float: none;
    margin: 0 0 50px;
    padding: 10px;
	}
#portfolios .prjct_thumb {
    height: inherit;
    margin: 0 0 5px;
	}
#portfolios li img {
    height: auto;
    width: 100%;
	}
#portfolios p {
    color: #1094c5;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
	}




.subNavBtn.none {
	visibility: hidden;
}


